//- Meta
-
    var meta = {
        siteName: "Photography",
        description: "Photography is a clean, modern, unique and trendy website template with well-organized layers.",
        siteNameLogo: "Photography"
    }

//- Navigation
-
    var nav = {
        links: ["home", "about", "clients", "portfolio", "blog"]
    }
    
//- Hero
-
    var hero = {
        caption: "Hello, I'm\n Dakota Jhonson",
        subCaption: "I’m an Art Director & Photographer based in the San Francisco.",
        button: "See My Works"
    }

//- About section
-
    var about = {
        caption: "About MySelf",
        description: "Hey, thanks for stopping by. My name’s Dakota Jhonson junior and I’m a briliant Art Director and pro Photographer based in the San Francisco where I make cool things for agencies and brands around globe. Mentas is loaded with useful features, each one with its own meaningful purpose. We listen to our users and integrate their feature requests on a regular basis. If you like my work then please do not hesitate to reach out.",
        button: "View My Flickr Profile"
    }
    
//- Service
-
    var service = {
        caption: "What I Do?",
        offers: [
            {title: 'FASHION', image: '/images/service/service_0.jpg'},
            {title: 'PORTRAITS', image: '/images/service/service_1.jpg'},
            {title: 'LIFESTYLE', image: '/images/service/service_2.jpg'}
        ],
        button: 'View My Flickr Profile'
    }
    
//- Our clients
-
    var clients = {
        caption: "Happy Clients",
        images: [
            ['salon centric', '/images/clients/salon_centric.png'],
            ['luscious', '/images/clients/luscious.png'],
            ['brillbird', '/images/clients/brillbird.png'],
            ['loxa beauty', '/images/clients/loxa_beauty.png'],
            ['minkys', '/images/clients/minkys.png'],
            ['babaria', '/images/clients/babaria.png']
        ]
    }
    
//- Portfolio
-
    var portfolio = {
        caption: "Portfolio",
        description: "The point of using Lorem Ipsum is that it has a non  more-or-less  dik sonormal distri bution of letters, as cliper opposed. a closer look to our fully furnished and beautiful demos, which can be use easily On this find website you can find some pictures I've taken during my travel. a clo look to our fully furnished and so beautful demos, which can be use.",
        button: "See More",
        descriptionLink: "#0"
    }
    
//- Blog
-
    var blog = {
        caption: "Blog",
        intro: "The point of using Lorem Ipsum is that it has a non  more-or-less  normal distri bution of letters, as cliper opposed. a closer look to our fully,",
        posts: [
            {
                image: '/images/blog/blog_0.jpg',
                title: 'Design is the method of putting form and content together.',
                category: 'Life style',
                date: 'July 3, 2017',
                content: 'Sed ut perspiciatis unde omnis iste natus error sit lao hoksi voluptatem lios mukatu accusantium doloremq doisa nojilaudan tium, totam rem aperiam, uni eaque ipsa quae ab cok illo inven tore siva.',
                fullLink: '#0'
            },
            {
                image: '/images/blog/blog_1.jpg',
                title: 'Design is the method of putting form and content together.',
                category: 'Life style',
                date: 'July 3, 2017',
                content: 'Sed ut perspiciatis unde omnis iste natus error sit lao hoksi voluptatem lios mukatu accusantium doloremq doisa nojilaudan tium, totam rem aperiam, uni eaque ipsa quae ab cok illo inven tore siva.',
                fullLink: '#0'
            },
            {
                image: '/images/blog/blog_2.jpg',
                title: 'Design is the method of putting form and content together.',
                category: 'Life style',
                date: 'July 3, 2017',
                content: 'ed ut perspiciatis unde omnis iste natus error sit lao hoksi voluptatem lios mukatu accusantium doloremq doisa nojilaudan tium, totam rem aperiam, uni eaque ipsa quae ab cok illo inven tore siva.',
                fullLink: '#0'
            }
        ],
        postsPreview: [
            {
                image: '/images/blog/blog_thumb_0.jpg',
                content: 'Design is the method of putting form and content together.',
                category: 'Life style',
                date: 'July 3, 2017'
            },
            {
                image: '/images/blog/blog_thumb_1.jpg',
                content: 'Design is the method of putting form and content together.',
                category: 'Life style',
                date: 'July 3, 2017'
            }
        ]
    }
    
//- Feedback
-
    var feedback = {
        caption: "Let's work?",
        placeholderName: "Your name",
        placeholderEmail: "Your Email",
        placeholderMessage: "Your Massages",
        button: "Send Massage"
    }
    
//- Pre footer
-
    var preFooter = {
        contactCaption: 'Contact',
        latestBlogPostsCaption: 'Latest Blog Posts',
        quickLinkCaption: 'Quick Link',
        instagramUpdateCaption: 'Instagram Update',
        followMeCaption: 'Follow me on:',
        instagramFeed: {
            image0: '/images/instagram_feed/instagram0.jpg',
            image1: '/images/instagram_feed/instagram1.jpg',
            image2: '/images/instagram_feed/instagram2.jpg',
            image3: '/images/instagram_feed/instagram3.jpg',
            image4: '/images/instagram_feed/instagram4.jpg',
            image5: '/images/instagram_feed/instagram5.jpg'
        }
    }
    
//- Contact
-
    var contact = {
        email: 'nazmulhasanjingar@gmail.com',
        address: '237 Church St, San Francisco',
        zip: 'CA 94114, USA'
    }

//- Footer
-
    var footer = {
        copy: "All Rights @ 2017 By Nazmul Hasan Jingar"
    }