// Meta
-
    var meta = {
        siteName: "Photography",
        description: "Photography is a clean, modern, unique and trendy website template with well-organized layers.",
        siteNameLogo: "Photography"
    }

// Navigation
-
    var nav = {
        links: ["home", "about", "clients", "portfolio", "blog"]
    }
    
// Hero
-
    var hero = {
        caption: "Hello, I'm Dakota Jhonson",
        subCaption: "I’m an Art Director & Photographer based in the San Francisco.",
        button: "See My Works"
    }

// About section
-
    var about = {
        caption: "About MySelf",
        description: "Hey, thanks for stopping by. My name’s Dakota Jhonson junior and I’m a briliant Art Director and pro Photographer based in the San Francisco where I make cool things for agencies and brands around globe. Mentas is loaded with useful features, each one with its own meaningful purpose. We listen to our users and integrate their feature requests on a regular basis. If you like my work then please do not hesitate to reach out.",
        button: "View My Flickr Profile"
    }
    
// Service
-
    var service = {
        caption: "What I Do?",
        offers: ["FASHION", "PORTRAITS", "LIFESTYLE"]
    }
    
// Our clients
-
    var clients = {
        caption: "Happy Clients"
    }
    
// Portfolio
-
    var portfolio = {
        caption: "Portfolio",
        description: "The point of using Lorem Ipsum is that it has a non  more-or-less  dik sonormal distri bution of letters, as cliper opposed. a closer look to our fully furnished and beautiful demos, which can be use easily On this find website you can find some pictures I've taken during my travel. a clo look to our fully furnished and so beautful demos, which can be use.",
        button: "See More"
    }
    
// Blog
-
    var blog = {
        caption: "Blog"
    }
    
// Feedback
-
    var feedback = {
        caption: "Let's work?",
        placeholderName: "Your name",
        placeholderEmail: "Your Email",
        placeholderMessage: "Your Massages",
        button: "Send Massage"
    }
    
// Footer
-
    var footer = {
        copy: "All Rights @ 2017 By Nazmul Hasan Jingar"
    }